header {
    background-color: #1F2937;
    padding: 1em 13em;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-link{
    font-size: 18px;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}
